<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.airbloc.sdk.datacollector">
    <application>
        <provider
            android:authorities="org.airbloc.sdk.datacollector.DataCollectorAuthority"
            android:name="org.airbloc.sdk.AirblocDataCollectorInitializer" />
    </application>
</manifest>
